<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/script.js"></script>
  </head>
  <body onload="init()">
    <header>
      <h1>DIGIT RECOGNITION</h1>
      <p><%= title %></p>
    </header>

    <section id="input">
      <canvas id="myCanvas" onclick="click();"></canvas>
    </section>

    <section id="output">
      
    </section>
    
  </body>
</html>
