<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="/script.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <header>
      <div class="container">
        <h1><span class="text"></span></h1>
      </div>
      <p><%= title %></p>
    </header>

    <section id="input">
      <button id="clear"> Clear</button>
      <button id="predict"> Predict </button>
      <br>
      <br>
    </section>

    <section id="output">
      
    </section>
    <script src="/canvas.js"></script>
  </body>
</html>
