@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 100px 600px;
  grid-auto-rows: 500px;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: #00b7ff;
}

header {
  text-align: center;
  background: black;
  border-bottom: 2px solid white;
  grid-column: 1 / 4;
  color: blue;
}

#input {
  padding-top: 150px;
  background: black;
  border-right: 2px solid white;
}

#output {
  background: red;
  border-right: 2px solid white;
  grid-column: 2 / 4;
}

#myCanvas {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  display: block;
  border: 3px solid black;
}

@media only screen and (max-width: 600px) {

  #input {
    background: black;
    grid-column: 1 / 4;
  }
  #output {
    background: red;
    grid-column: 1/ 4;
  }
}



.container {
    display: flex;           
    flex-direction: column;  
    justify-content: center;
    align-items: left;
    margin-left: 0px;
    height: 100%;
}

h1 {
  padding-top: -5%;
  color: white;
  font-size: 5rem;
  font-family: "VT323"
}

h1 {
  position:relative;
} 

.blink:after {
  animation: blink linear 1.5s infinite;
  content:" ";
  position: absolute;
  right: -60px;
  top:-10px;
}